* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  background: #2874f0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  height: 3.5rem;
}

#nav {
  height: inherit;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: auto;
}

#main-logo {
  display: flex;
  justify-content: flex-end;
  min-width: 8.563rem;
}

#main-logo img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

#searchbar {
  display: flex;
  justify-content: flex-start;
  height: 2.2rem;
  margin: 0 auto 0 12px;
  min-width: 19rem;
  width: calc(100% - 540px);
}

#searchbar input {
  width: 100%;
  display: inline-block;
  border: none;
  height: 2.2rem;
  padding: 0 1rem;
  border-radius: 2px 0 0 2px;
  outline: 0 none;
  max-width: 564px;
  font-size: 0.875rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
}

#searchbar button {
  border: 1px solid white;
  background: white;
  padding: 4px 12px 0 8px;
}

#main-login,
#more,
#cart {
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 1.25rem;
  flex: 0 0 auto;
  align-content: center;
  display: flex;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
  max-width: 150px;
  cursor: pointer;
}

#main-login_btn {
  color: #2874f0;
  background: white;
  font-size: inherit;
  max-width: 150px;
  min-width: 120px;
  padding: 0.313rem 1rem;
  border: none;
  cursor: pointer;
}

#main-login_user {
  color: white;
  background: #2874f0;
  font-size: inherit;
  max-width: 150px;
  min-width: 120px;
  padding: 0.313rem 1rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

#main-logout_btn {
  color: #fff;
  background: #fb641b;
  font-size: inherit;
  max-width: 150px;
  min-width: 120px;
  padding: 0.313rem 1rem;
  border: none;
  cursor: pointer;
}

#cart p {
  padding: 0 0.5rem;
}

#backdrop {
  display: none;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#modal {
  display: none;
  width: 48rem;
  height: 33rem;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  /* overflow: hidden; */
}

#close-modal {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -1%;
  top: 1%;
}

#modal-div {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

#info {
  border-radius: 0.25rem 0 0 0.25rem;
  width: 40%;
  height: 100%;
  background: #2874f0;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#info-head {
  font-size: 1.75rem;
  font-weight: 500;
  color: white;
}
#info-desc {
  color: #dbdbdb;
  font-size: 1.125rem;
  line-height: 150%;
}
#info-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#login {
  height: 100%;
  width: 60%;
  background: white;
  border-radius: 0 0.25rem 0.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2.2rem 1rem;
  font-weight: 500;
  position: relative;
}

#privacy-terms {
  font-size: 0.75rem;
  color: #878787;
}

#privacy-terms a {
  text-decoration: none;
  color: #2874f0;
}

.login-btn,
.otp-btn {
  width: 100%;
  margin: 0.25rem 0;
  padding: 1rem;
  color: #fff;
  background: #fb641b;
  border: none;
  border-radius: 2px;
  box-shadow: 5px 5px 10px #bfbfbf;
  font-size: 0.95rem;
  cursor: pointer;
}

.otp-btn {
  color: #2874f0;
  background: #fff;
}

.login-btn:hover,
.otp-btn:hover {
  box-shadow: 5px 5px 8px #dedede, -5px -5px 10px #ffffff;
}

#separator {
  font-size: 0.875rem;
  color: #878787;
}

#signup,
#loginExist {
  margin-top: 4.5rem;
  color: #2874f0;
  cursor: pointer;
  font-size: 0.875rem;
  text-align: center;
}

#loginExist {
  margin-top: 1.25rem;
  font-size: 1rem;
}

#input-pass {
  position: relative;
}

.forgot-pass {
  color: #2874f0;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.input-field {
  position: relative;
  width: 100%;
  height: 44px;
  margin: 1rem;
  line-height: 44px;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #878787;
  transition: 0.2s all;
  cursor: text;
}
.input-field input {
  font-size: 1rem;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #e0e0e0;
}

.input-field input:focus,
.input-field input:valid {
  border-color: #2874f0;
}
.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.875rem;
  top: -1.5rem;
  color: #878787;
}

#otp {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  margin: 2rem 0;
}

#otp input {
  -webkit-appearance: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border: none;
  border-bottom: 2px solid #e0e0e0;
}

#otp input:focus {
  border-bottom: 2px solid #2874f0;
}

#otp input[type="number"]::-webkit-inner-spin-button,
#otp input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#verify-btn {
  margin: 1rem 0;
  background: #2874f0;
}

#resend {
  font-size: 0.875rem;
}

.mod-links {
  color: #2874f0;
  cursor: pointer;
}

#otpMsg {
  display: none;
  margin: 7rem 0;
  padding: 0.2rem 2rem;
  background-color: rgb(79, 79, 79);
  border: 4px solid #2874f0;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

#sign-otp {
  display: none;
  position: absolute;
  bottom: -12%;
  z-index: 300;
  background-color: rgb(79, 79, 79);
  border: 3px solid #2874f0;
  color: white;
  width: 100%;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
  text-align: center;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
